<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>〇〇 AIRLINES - トップページ</title>
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<body>     
    <header>
        <div id="menu">
            <h1><a href="/">〇〇 AIRLINES</a></h1>
    <ul id="menu-ul">
    <li><a href="/">TOP</a></li>
    <li><a href="/confirm/">国内線予約確認</a></li>
    <li><a href="">新規入会</a></li>
    <li><a href="/">ログイン</a></li>
    </ul>
</div>
    <div id="top-main">
        <img src="/images/top-main1.jpg" alt="">
    </div>
</header>
<main>
    <div id="confirm-container">
    <h2>予約確認</h2>
    <div id="confirm">
<form action="/confirm"  id="confirm-member"  name="formSubmit" method="POST" class="form">
    <h3>会員の方</h3>
    <p id="confirm-member-p1">ID <br><input type="text" name="username" id="userId" placeholder="ID"> </p><br>
    <p id="confirm-member-p2">パスワード <br><input type="password" name="password"  id="userpass" autocomplete=off placeholder="Password"></p><br>
    <p><button type="button" onclick="return loginButtonClick()"  value="">ログイン</button></p>
    </form>

<form action='/confirmation2' id="confirm-nomember"name="formSubmit2"  method=post>
    <h3>一般の方</h3>
    <p id="confirm-nomember-p1">搭乗日<br> <input type="date"  id="departure"  name="departure"> </p><br>
    <p id="confirm-nomember-p2">予約番号(数字4桁)<br> <input type="text"  id="reservation" name="reservation" placeholder="予約番号"></p><br>
    <p id="confirm-nomember-p3">名前 <br><input type="text" id="name" name="name" placeholder="名前"> </p><br>
    <p><button type="button" onclick="return nomemberButtonClick()"  value="">確認</button></p>
</form>

</div>
    </div>
</main>
   <footer>
    <small>&copy; 〇〇AIRLINES All rights reserved.</small>
   </footer>
<script type="text/javascript">
  let memberP1= document.getElementById("confirm-member-p1");
  let memberP2= document.getElementById("confirm-member-p2");
  let nomemberP1= document.getElementById("confirm-nomember-p1");
  let nomemberP2= document.getElementById("confirm-nomember-p2");
  let nomemberP3= document.getElementById("confirm-nomember-p3");
  let listname1 = document.createElement('p');
  let listname2 = document.createElement('p');
  let listname3 = document.createElement('p');
  let listname4 = document.createElement('p');
  let listname5 = document.createElement('p');
    let userId = document.getElementById("userId");
    let userpass= document.getElementById("userpass");
    let departure = document.getElementById("departure");
    let reservation = document.getElementById("reservation");
    let name = document.getElementById("name");

 
    function loginButtonClick() {
        let trueFalse = true;
        if (userId.value == "") {
            listname1.innerText = "IDが未入力です";
            memberP1.appendChild(listname1);
            listname1.style.color = "red";
            trueFalse = false;
        }else if( /^[a-zA-Z0-9!-/:-@¥[-`{-~]*$/.test(userId.value)){
            listname1.innerText = "";
        }else{
            listname1.innerText = "IDは半角英数字記号のみで記入して下さい";
            memberP1.appendChild(listname1);
            listname1.style.color = "red";
            trueFalse = false;
    }
if (userpass.value == "") {
            listname2.innerText = "passwordが未入力です";
            memberP2.appendChild(listname2);
            listname2.style.color = "red";
            trueFalse = false;
        }else if( /^[a-zA-Z0-9!-/:-@¥[-`{-~]*$/.test(userpass.value)){
            listname2.innerText = "";
      
        }else{
            listname2.innerText = "passwordは半角英数字記号のみで記入して下さい";
            memberP2.appendChild(listname2);
            listname2.style.color = "red";
            trueFalse = false;
    }
if(listname1.innerText == "" && listname2.innerText == ""){

    document.formSubmit.submit();

  
}
}

function nomemberButtonClick(){
    let trueFalse = true;
        if (departure.value == "") {
            listname3.innerText = "搭乗日が未入力です";
            nomemberP1.appendChild(listname3);
            listname3.style.color = "red";
            trueFalse = false;
        }else if( /^[a-zA-Z0-9!-/:-@¥[-`{-~]*$/.test(userId.value)){
            listname3.innerText = "";
    }
    if (reservation.value == "") {
            listname4.innerText = "予約番号が未入力です";
            nomemberP2.appendChild(listname4);
            listname4.style.color = "red";
            trueFalse = false;
        }else if( /^[0-9]*$/.test(reservation.value)){
            listname4.innerText = "";
        }else{
            listname4.innerText = "予約番号は半角数字で記入して下さい";
            nomemberP2.appendChild(listname4);
            listname4.style.color = "red";
            trueFalse = false;
        }   

        if (name.value == "") {
            listname5.innerText = "名前が未入力です";
            nomemberP3.appendChild(listname5);
            listname5.style.color = "red";
            trueFalse = false;
        }else{
            listname5.innerText = "";
        }
        if(listname3.innerText == "" && listname4.innerText == ""&& listname5.innerText == ""){
            sessionStorage.setItem('names','logindata2'),
            document.formSubmit2.submit();
}
}



</script>

</body>
</html>
