<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>〇〇航空 - トップページ</title>
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
    <h1>〇〇航空</h1>
</header>
<main>

<div id="booking">
    <h2>航空券予約</h2>
    <div id="booking0">
<div id="booking1">
    <p class = "pClass">出発地</p>
        <span id="departureList">
        <select name="airport"  id="airport" class="air">
        <option value="HND">羽田空港</option>
        <option value="narita">成田空港</option>
        <option value="itami">伊丹空港</option>
        <option value="KIX">関西空港</option>
        <option value="tyubu">中部国際空港</option>
        <option value="sinntitose">新千歳空港</option>
        <option value="hukuoka">福岡空港</option>
        <option value="naha">那覇空港</option>
    </select>

        </span>
    </div>
<button id="changeBtn" onclick="changeBtn()">↔︎</button>
<div id="booking2">
<p class="pClass">到着地</p><span id="arrivalList">
<select name="arrivalAirport" id="arrivalAirport" class="air">
    <option value="HND">羽田空港</option>
    <option value="narita">成田空港</option>
    <option value="itami">伊丹空港</option>
    <option value="KIX">関西空港</option>
    <option value="tyubu">中部国際空港</option>
    <option value="sinntitose">新千歳空港</option>
    <option value="hukuoka">福岡空港</option>
    <option value="naha">那覇空港</option>
</select></span>
</div>
</div>
    <div id="">
    
    <p class="pClass">往路搭乗日<input type="date" id="datepicker2" min=""></p>
    <p class="pClass">復路搭乗日<input type="date" id="datepicker3" min=""></p>
    </div>
<div>
    <p class="pClass">人数</p>
    
    <ul>
        <li id="apple">大人（12歳以上）
            <select name="arrivalAirport" id="arrivalAirport" class="air">
                <option value="111">1名</option>
                <option value="111">2名</option>
                <option value="111">3名</option>
                <option value="111">4名</option>
                <option value="111">5名</option>
                <option value="111">6名</option>
            </select>
        </li>
        <li id="apple">小児（3歳～11歳）
            <select name="arrivalAirport" id="arrivalAirport" class="air">
                <option value="111">1名</option>
                <option value="111">2名</option>
                <option value="111">3名</option>
                <option value="111">4名</option>
            </select>
        </li>
        <li id="apple">幼児（0歳～2歳）
            <select name="arrivalAirport" id="arrivalAirport" class="air">
                <option value="111">1名</option>
                <option value="111">2名</option>
            </select> </li>
</ul>
</div>
<button><a href="search.html">検索</a></button>
</div>
<p><a href="">国内線予約確認</a></p>
<p><a href="">新規入会</a></p>
<p><a href="">ログイン</a></p>
</main>
<script type="text/javascript">

//出発地、到着地の入れ替え
function changeBtn() {
  const airport = document.getElementById("airport")
  const arrivalAirport = document.getElementById("arrivalAirport")
  const departureList = document.getElementById("departureList")
  const arrivalList = document.getElementById("arrivalList")
  if (airport.classList.contains("air")) {
    airport.classList.remove("air");
    departureList.appendChild(arrivalAirport)
    arrivalList.appendChild(airport)
  } else {
    airport.classList.add("air");
    departureList.appendChild(airport)
    arrivalList.appendChild(arrivalAirport)
  }
   //const selected1 = [...airport.options].find(opt => opt.selected);
  //const selected2 = [...arrivalAirport.options].find(opt => opt.selected);
 //console.log(selected1.value);
  //console.log(selected2.value)
}




//当日の日付を基準に期間を設定する
window.onload = function () {
  const getToday = new Date();
  const y = getToday.getFullYear();
  const m = getToday.getMonth() + 1;
  const d = getToday.getDate();
  const today = y + "-" + m.toString().padStart(2, '0') + "-" + d.toString().padStart(2, '0');
  document.getElementById("datepicker2").setAttribute("value", today);
  document.getElementById("datepicker2").setAttribute("min", today);

  //復路搭乗日を往路搭乗日の後の日付にする
  let datepicker3 = document.getElementById("datepicker3")
  datepicker3.addEventListener("click", function () {
    datepicker3.min = datepicker2.value
    datepicker3.setAttribute("datepicker2.value", today);
    datepicker3.setAttribute("datepicker3.min", today);
  })
}


</script>
</body>
</html>
