<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>〇〇 AIRLINES - トップページ</title>
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<body>     
    <header>
        <div id="menu">
            <h1><a href="/">〇〇 AIRLINES</a></h1>
    <ul id="menu-ul">
  
    <li><a href="/confirm/">国内線予約確認</a></li>
    <li><a href="">新規入会</a></li>
    <li><a href="/">ログイン</a></li>
    </ul>
</div>
    <div id="top-main">
        <img src="/images/top-main1.jpg" alt="">
    </div>
</header>
<main>
    <table>
        <tbody>
            <tr>
                <th></th>
            </tr>
        </tbody>
    </table>
</main>
   <footer>
    <small>&copy; 〇〇AIRLINES All rights reserved.</small>
   </footer>
<script type="text/javascript">


</script>

</body>
</html>
