@charset "UTF-8";
 body{
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  color: #333;
  font-size: 1.6rem;
  line-height: 2;
  font-feature-settings: "palt";
 }

a{
 text-decoration: none;
}

li{
  list-style-type: none;;
}

ul{
  margin: 0;
}

/*-------------------------
  index.ejs
-------------------------*/
#container{
  margin: 0 auto;
 width: 90%;
 display: flex;

}
#menu{

  display: flex;
  justify-content: space-around;
  background-color: black;
}

#menu-ul {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

#menu-ul li{
margin:0 15px;
 border: 1px solid ;
 border-radius: 14px;

 background-color: whitesmoke;

 
}
#menu-ul li a{
display: block;
padding:0 10px;
}

h1{
  color: #ccc;
}

#top-main{
  display: flex;
  justify-content: center;
}
#top-main img{
  width: 90%;
  height: 500px;
}

 #booking,#sub{
  background-color: aliceblue;
  border: 1px solid;
  padding: 30px;
  width: 50%;
  font-size: 2rem;
 }

 .pClass{
margin-top: 10px;
 }

 #booking0{
  display: flex;

 }


#changeBtn{
  height: 70px;
margin: 60px 40px 0 40px;
 
}


#sub {
  background-color: whitesmoke;

}

.psub{
  font-size: 3rem;
  text-align: center;
  margin-top: 30px;
  background-color: #ddd;
  border: 1px solid #ccc;
}

.psub a{
display: block;
}


footer{
  margin: 40px auto 0;
  border-top: 1px solid #111;
  background-color: black;
  
}

footer small{
  display: block;
  padding-top: 50px;
text-align: center;
color: white;

}


/*-------------------------
  confirm.ejs
-------------------------*/
#confirm-container{ 

  margin: 0 auto;
  width: 90%;
}

#confirm{
  display: flex;
  justify-content: center;

}

#confirm-member,#confirm-nomember{
  border: 1px solid #aaa;
  margin: 10px;
  width: 1000px;
}

#confirm-member{
  background-color:aquamarine;
}

#confirm-nomember{
  background-color: tan;
}

#confirm-member h3,#confirm-nomember h3 {
margin: 20px;
border-bottom: 1px dotted black;
}

#confirm-member p,#confirm-nomember p {
margin: 20px;
}
